header {
  width: 100%;
  position: fixed;
  height: 40px;
  background-color: #0b1331;
  color: white;
  line-height: 40px;
  padding: 0 15px;
  z-index: 5;
  opacity: 0.7;
}

header:after {
  content: '';
  display: block;
  clear: both;
}

.menu {
  float: right;
}

.section1 {
  min-height: 937px;
  position: relative;
  background-color: #0b1331;
  z-index: 1;
}

.section1-bg {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  -webkit-animation-name: section1-bg-fadein;
          animation-name: section1-bg-fadein;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.section1-container {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  -webkit-animation-name: section1-container-fadein;
          animation-name: section1-container-fadein;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  font-family: Courgette;
}

.section1-title {
  font-size: 70px;
  margin: 30px;
  -webkit-transition: .5s;
  transition: .5s;
}

.section1-subtitle {
  width: 70%;
  margin: 20px auto;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 2px;
  font-weight: bold;
}

.section1-btn {
  color: white;
  padding: 10px 20px;
  background: transparent;
  border: 1px solid rgba(128, 128, 128, 0.6);
}

@-webkit-keyframes section1-bg-fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes section1-bg-fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes section1-container-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes section1-container-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section2 {
  height: 950px;
  background-color: #142936;
  padding-top: 20px;
  position: relative;
}

.section2 .title {
  font-family: courgette;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin: 40px;
}

.section2 .subtitle {
  font-family: Cardo;
  font-size: 20px;
  color: white;
  opacity: 0.7;
  text-align: center;
}

.section2 .content-container {
  position: absolute;
  width: 85%;
  height: 70%;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section2 .content1, .section2 .content2 {
  width: 47%;
  height: 100%;
}

.section2 .content1 .content-image, .section2 .content2 .content-image {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.section2 .content1 .content-img, .section2 .content2 .content-img {
  height: 535px;
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.section2 .content1 .content-img:hover, .section2 .content2 .content-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section2 .content1 .content-des, .section2 .content2 .content-des {
  height: 132.19px;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  text-align: center;
  font-family: dancing script;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 132.19px;
}

.section2 .content1 {
  float: left;
}

.section2 .content2 {
  float: right;
}

.section2:after {
  content: '';
  display: block;
  clear: both;
}

.section3 {
  background: RGB(19, 34, 41);
  height: 900px;
  position: relative;
  font-family: Roboto;
}

.section3 .container {
  width: 70%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.section3 .container:after {
  content: '';
  display: block;
  clear: both;
}

.section3 .container .title {
  width: 100%;
  font-size: 50px;
  padding-bottom: 20px;
  height: 15%;
  float: left;
}

.section3 .container .subtitle {
  width: 100%;
  font-size: 25px;
  opacity: 0.5;
  padding-bottom: 40px;
  height: 15%;
  float: left;
}

.section3 .container .selectbox {
  width: 30%;
  height: 70%;
  float: left;
}

.section3 .container .selectbox .select {
  padding: 10px;
  padding-left: 15px;
  margin: 20px 0px;
  font-size: 25px;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.section3 .container .selectbox .select:first-child {
  margin-top: 0;
  background-color: purple;
}

.section3 .container .imagecontainer {
  width: 70%;
  height: 70%;
  float: right;
}

.section3 .container .imagecontainer .imagebox {
  width: calc(100% / 3);
  height: 50%;
  float: left;
  position: relative;
}

.section3 .container .imagecontainer .imagebox div {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 95%;
  height: 90%;
  overflow: hidden;
}

.section3 .container .imagecontainer .img {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  top: 0%;
  -webkit-transition: .5s;
  transition: .5s;
}

.section3 .container .imagecontainer .img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section4 {
  height: 700px;
  position: relative;
  background: darkslategrey;
  font-family: Aleo;
}

.section4 .container {
  width: 70%;
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section4 .container .title {
  font-size: 45px;
  text-align: center;
  padding-bottom: 20px;
  color: white;
}

.section4 .container .subtitle {
  font-size: 20px;
  color: rgba(128, 128, 128, 0.6);
  padding-bottom: 40px;
  text-align: center;
}

.section4 .container .content-container .contentbox {
  float: left;
  margin-right: 30px;
  width: 31%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section4 .container .content-container .contentbox .imgbox {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.section4 .container .content-container .contentbox .img {
  width: 100%;
  height: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.section4 .container .content-container .contentbox .des {
  height: 30%;
  font-size: 25px;
  line-height: 30px;
  color: white;
  opacity: 0.5;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px;
}

.section4 .container .content-container:after {
  content: '';
  display: block;
  clear: both;
}

.section4 .container .content-container .contentbox:hover .img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */