body .container{  
  margin: auto;
}

.container{
  
  width:400px;
  height:500px;
}

.head{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ef4d2a;
  opacity: 0.9;
  height: 60px;
  color: white;
}

.main{
  background-color:#f7f7f7 ;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 20px;
}

.intro{
text-align: center;
line-height: 60px; 
/* line-height는 부모 height만큼 px값을 주면 수직 중앙 정렬이 된다. */
font-size: 20px;
}

.password_text, .username_text{
  text-align: center;
  margin: 5px;
}

.password_text input, .username_text input{
  width: 200px;
  height: 25px;
  border-radius: 5px;
}

.username, .password{
  margin-left: 10px;
  color: gray;
}

.find_password{
  text-align: right;
}

#forgot{
  text-decoration: none;
  color: gray;
  font-size: 10px;
  margin-right: 30px;
}

.remember{
  margin: 10px;
  font-size: 10px;
  color: gray;
}

.signin{
  text-align: center;
}

.signin input{
  background-color: #ef4d2a;
  border: 0;
  color: white;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 30px;
}