

.container{
  width: 75%;
  /* border: 1px solid gray; */
  text-align: center;
  background-color: #f5f6f7;
}

.language{
  text-align: right;
}

.head{
  font-size: 40px;
  color: #00c850;
  font-weight: bold;
}

.id input, .password input, .submit input{
  width: 380px;
  height: 40px;
  margin-bottom: 20px;
}

.submit input{
  background-color: #00c850;
  border: none;
  color: white;
  font-size: 20px;
}

.foot_box{
  width: 380px;
  display: inline-block;
  font-size: 12px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.788);
  padding-bottom: 20px;
}

.login_status{
  text-align: left;
  width: 200px;
  margin:0;
  display: inline-block;  
}

.on{
  color: #00c850;
}

.ip_sec{
display: inline-block;
}

.onetime_login{
display: inline-block;
border-left: 1px solid gray;
padding-left: 5px;
}

.user_req{  
  margin-top: 10px;
}

.user_req>span>a{  
  text-decoration: none;
}

.user_req_1, .user_req_2{
  border-right: 1px solid gray;
  padding-right: 5px;
}