*{
  box-sizing: border-box;
}

.header, .main, .footer
{
  /* border: 1px solid gray; */
}

/* header */

.header{
  height: 150px;
  text-align: center;
  background-color: gray;
}
.header_head, .header_main{
 padding-top: 15px;
  color: white;
}

.main_content{
  font-size: 30px;
}


/* main */

.main{
  height: 650px;
  background-color: purple;
  opacity: 0.5;
 

}

.container{
  border: 1px solid gray;
  width:400px;
  height: 600px;
  margin: auto;
  
}

.container_head{
  height: 150px;
  
  background-color: gray;
  text-align: center;
  
}
.container_head div{
  padding-top: 20px;
}
.touch{
  font-size: 40px;
  color: black;
  font-weight: bold;
}

.container_main{
  background-color: white;
  height: 450px;
  padding: 25px;
}
.container_main div{
  margin-top: 20px;
}

.name, .email, .message{
  width: 100%;
  height: 30px;
  background-color: gray;
}

.message{
  height: 90px;
}

.submit{
  margin-top: 30px;
  width: 100%;
  height: 30px;
  background-color: blue;
  border:none;
  color: white;
}

/* footer */

.footer{
  height: 100px;
  background-color: gray;
  color: white;
  text-align: center;
}

.footer div{
  padding-top: 30px;
  
}