<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>


  <%- include("./common/head.ejs") %>
  <link rel="stylesheet" href="/css/index.css">
</head>



<body>
  <%- include("./common/header.ejs") %>


  <p>
    user Email : <%= sess.profile.email %>
  </p>

  </div>
  </div>

</body>

</html>