@import "../../../base/main";

@mixin hovereffect{
  transition: .3s;
&:hover{ 
  opacity: 0.5;
  text-decoration: none;  
  @content;
}
}

@mixin floatclear{
  &:after{
    content:'';
    display:block;
    clear:both;
  }
}

@mixin positioncenter{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

//mixin

@keyframes anidim{
  0%{
    background-color: black;
    z-index: 500;
  }
  70%{
    background-color: black;
  }

  100%{
    background-color: none;
    
  }
}

@keyframes logo-fadein{
  0%{    
    opacity: 0;
  }

  50%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

//keyframes

.empha{
  color: gold;
}



.label{
  display: block;
  text-align: left;
  width: 100%;
  font-size: 13px;
  font-family: cardo;
  letter-spacing: 2px;
  color: white;
}



//common

.ani-dim{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  // animation-name: anidim;
  animation-duration: 5s;
  animation-iteration-count: 1;
  z-index: -5;

}

.header{
  
  padding: 30px;  
  position: fixed;
  width: 100%;  
  z-index: 100;  
  @include floatclear();
  transition: .3s;
  

  &.scrollactive{
    background-color: rgba(255,255,255,0.3);
    
  }
  
 

.logo-img{
  width: 230px;
  height: 50px;
  @include hovereffect;  
}

.header-logo{
  
  float: left;
}

.header-listbox{
  display: inline-block;
  position: absolute;
  right:0;
  top: 50%;
  transform: translateY(-50%); 
  text-align: right;
  
}

.header-li{
  display: inline-block;
  margin-right: 30px;
}

.header-list-item{
  color: black;
  font-family: Amiri;
  @include hovereffect;  
  
}

.normal-invisible{
  display: none;
}

@media screen and (max-width: 950px){
  .logo-img{
    width: 150px;
    height: 30px;
  }
  
   .header-li{
     display: none;
     margin-right: 20px;
     
    }

    .responsive-visible{
      display: inline-block;      
      
    }

    
  }


} //header

.intro{
  
  height: 100vh;
  position: relative;
  


  .logo{
    width: 300px;
    height: 80px;   
    @include positioncenter;
    z-index: 1000;

    animation-name: logo-fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
  transition: .3s;
  }

  .img-logo{
    width: 100%;
    height: 100%;    
  }  

  .video-box{   
    width: 80%;
    @include positioncenter();
  }

  #video{
    width: 100%;
    
  }
@media screen and (max-width: 950px){
  .logo{
    width: 440px;
    height: 120px;
  }

    
  }




}// intro

.reservation{

  .reservation-title{
    background-color: black;
    padding: 20px;
    text-align: center;
    font-family: Aleo;
    letter-spacing: 5px;
  }

  .chinese-character{
    font-size: 12px;
  }

  

  .reservation-area{
    padding: 30px;
    background-color: #141414;
    @include floatclear;
  }

  .reservation-wrap{
    max-width: 1200px;
    margin:auto;
  }

  $form-area-width:80%;

  .form-area{
    width:$form-area-width;    
    float: left;
    margin-right: 1%;
    @include floatclear();

  }

  .check-in-area{
    width: 30%;    
    float: left;   
  
   
  }

  .checkin-input{
    margin-top: 10px;
    height: 50px;
   
  }

  .undecide-box{
    display: inline-block;
    margin-top: 10px;
    font-size: 10px;
    
  }

  .undecide-des{
    color: white;
  }

  .number-area{
    width: 55%;
    float: left;
    @include floatclear();
  }
  .number-box{
    float: left;
    width: calc(100% / 3);
  }

  .select-num{
    width: 95%;    
    margin-top: 10px;
    height: 50px;
  }

  .search-area{
    width: 15%;
    float: left;
  }
  .search-btn{
    background-color: transparent;
    padding: 30px;
    color: gold;
    border: 2px solid gold;
    width: 100%;
    @include hovereffect{
      background-color: gold;
      color: black;
      opacity: 1;
    }
    
  }






  .link-area{
    width:99% - $form-area-width;
    
    float: left;
    text-align: center;    
  }

  .modify{
    background-color: #e1e1e1;
    border: 1px solid #e1e1e1;
    padding: 20px;
    font-family: cardo;
    margin-bottom: 10px;
    @include hovereffect{
      background-color: transparent;
      color: white;
      opacity: 1;
    }
  }

  .package{
    background-color: #ac8c41;
    border: 1px solid #ac8c41;
    padding: 20px;
    color: white;
    font-family: cardo;
    @include hovereffect{
      background-color: transparent;
      opacity: 1;
    }
  }

  @media screen and (max-width: 950px){
    .media-width-change{
      width: 100%;
      margin: 10px 0;      
    }
  }
  
  

}//reservation

@keyframes img-moving{
0%{
  background-image: url("image/aboutus/about\ img\ 1.jpg");
  
}

15%{
  background-image: url("image/aboutus/about\ img\ 1.jpg");
  
}
34%{
  background-image: url("image/aboutus/about\ img\ 2.jpg");
  
}

50%{
  background-image: url("image/aboutus/about\ img\ 2.jpg");

}

67%{
  background-image: url("image/aboutus/about\ img\ 3.jpg");
 
}

90%{
  background-image: url("image/aboutus/about\ img\ 3.jpg");
 
}
  100%{
    background-image: url("image/aboutus/about\ img\ 1.jpg");
   
  }

}

@keyframes stay-moving{
0%{
  background-image: url("image/stay/stay\ img\ 1.jpg");
  
}

15%{
  background-image: url("image/stay/stay\ img\ 1.jpg");
  
}
34%{
  background-image: url("image/stay/stay\ img\ 1.jpg");
  
}

50%{
  background-image: url("image/stay/stay\ img\ 3.jpg");

}

67%{
  background-image: url("image/stay/stay\ img\ 3.jpg");
 
}

90%{
  background-image: url("image/stay/stay\ img\ 3.jpg");
 
}
  100%{
    background-image: url("image/stay/stay\ img\ 1.jpg");
   
  }



}

.aboutus{
  background-color:#232323;
  padding: 50px;
  
  .wrap{        
    @include floatclear();
  }

  .img-area{    
    width: 50%;        
    float: right;     
    
  }

  .img-box{
    width: 90%;
    margin: auto;
    animation-name: img-moving;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    background-size: cover;
    background-position: center;
    

  }

  .img-box:after{
    content:'';
    display: block;
    padding-bottom: 100%;
  }
    
    
  
  .intro-area{
    color: white;
    font-family: Amiri;
    width: 50%;
    padding: 30px;
    
    float: right;
  }

  .about-title{
    font-size: 60px;
    color: gold;
  }
  .about-subtitle{
    margin: 10px 0;
    color: gold;
    font-size: 20px;
  }

  
  @media screen and (max-width: 950px){
    .media-width-change{
      width: 100%;
      margin: 10px 0;      
    }
    
  }
}//about us


.bigspace{
    content:'';
    display: block;
    margin: 40px 0;
  }

  


.stay{

  position: relative;
  padding: 50px;
  padding-top: none;
  background-color: #141414;
  padding-top: 0;
.wrap{
  @include floatclear;
}
  .img-area{
    width: 65%;    
    float: left;
    animation-name: stay-moving;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    background-size: cover;
    background-position: center;
  } 

  .img-area:after{
    content:'';
    display: block;
    padding-bottom: 100%;
  }



  .des-area{
    margin-left: 5%;
    width: 30%;    
    float: left;    
    color: white;
    position: relative;
  }

  .des-position{
    margin: auto;
    margin-top: 50px;
    width: 100%;
    
    
    
  }

  .stay-title{
    font-size: 60px;
    color: gold;
  }
  .stay-subtitle{
    margin: 10px 0;
    color: gold;
    font-size: 20px;
  }

  .stay-morebtn{    
    position: relative;
  }

  .morebtn{
    text-align: left;
    display: block;
    width: 50%;
    border: 1px solid white;
    color: white;
    padding: 20px;
    min-width: 150px;
        
    transition: .3s;

    &:hover{
      background-color: white;
      color: #141414;
    }

  }

  @media screen and (max-width: 950px){
    .media-width-change{
      width: 100%;
      margin: 10px 0;      
    }
    .img-area{
      margin-top: 0;
    }
    .morebtn{
      width: 30%;
    }

    
  }

}//stay


.experience{
  background-color: #f1f1f1;
  padding: 50px 0;

  .title-area{
    padding: 20px;
    text-align: center;
    font-family: cardo;
  }
  .exp-title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .exp-subtitle{
    font-size: 15px;
  }

  #myCarousel{
    width: 50%;
    margin: 20px auto;

  }

}//experience

.news{
background-color: #f6f6f6;
padding: 50px;

.wrap{
  width: 80%;
  margin: auto;
}

.title-area{
  text-align: center;
  position: relative;
}
.news-title{
  font-size: 30px;
  font-family: amiri;  
  font-weight: bold;
}
.news-subtitle{
  margin: 10px auto;
}
.news-view-all{  
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 10px;
  font-weight: bold;
  font-family: aleo;
  @include hovereffect;
}

.news-area{
  margin: auto;

}

// .b{
//   border: 1px solid gray;
// }

.news-date{
  margin: 10px 0;
  font-family: cardo;
}

.news-des{
  font-weight: bold;
  font-family: amiri;
}


.news-img{
  width: 100%;
  position: relative;
}

.card-img{
  position: relative;
}

.card{
  margin: 30px 0;
}

.card-img:after{
  content:'';
  display: block;
  position: absolute;
  left:0; right:0; top:0; bottom:0;
  background-color: black;
  opacity: 0;
  transition: .3s;  
}

.logo-white{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 30px;
  opacity: 0;
  z-index: 5;  
  transition: .3s;
}

.card:hover{
  .card-img:after{    
    opacity: .8;
  }
  .logo-white{
    opacity: 1;
  }
}




}//news

.instagram{
  padding: 80px;
  background-color: #141414;
  color: white;

 

  .title-area{
    width: 70%;
    margin: auto;
  }

  .insta-title{
    text-align: center;
    font-size: 40px;
    font-family: dancing script;
  }

  .insta-subtitle{
    text-align: center;
    margin: 15px auto;
  }

  .link-area{
    text-align: center;
  }  

  .insta-icon{
    font-size: 25px;
    margin-right: 10px;
  }

  .card-area{
    margin: 30px 0;
  }

  .insta-img{
    width: 100%;    
  }

  .insta-card{
    padding:0;
      
  }
  .insta-card:after{
    content:'';
    display: block;
    padding-bottom: 100%;
  }

  .instaimg1{
    background-image: url("image/instagram/insta\ \(1\).jpg");
    background-size: cover;
  }

  .instaimg2{
    background-image: url("image/instagram/insta\ \(2\).jpg");
    background-size: cover;
  }

  .instaimg3{
    background-image: url("image/instagram/insta\ \(3\).jpg");
    background-size: cover;
  }

  .instaimg4{
    background-image: url("image/instagram/insta\ \(4\).jpg");
    background-size: cover;
  }

  .instaimg5{
    background-image: url("image/instagram/insta\ \(5\).jpg");
    background-size: cover;
  }

  .instaimg6{
    background-image: url("image/instagram/insta\ \(6\).jpg");
    background-size: cover;
  }

  .instaimg7{
    background-image: url("image/instagram/insta\ \(7\).jpg");
    background-size: cover;
  }

  .instaimg8{
    background-image: url("image/instagram/insta\ \(8\).jpg");
    background-size: cover;
  }

  .insta-link{
    font-family: dancing script;    
    color: white;    
    display: block;
    &:hover{
      .next{
        left: 15px;
      }
    }
  }

  .insta-direction{
    position: relative;
  }

  .next{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 5px;
    transition: 0.3s;
    font-size: 20px;    
  }
  

  .row{
    @include floatclear;
  }
  

 @media screen and (max-width: 992px){
.insta-card{
  width: 50%;
  float: left;
  
} 
}

@media screen and (max-width: 600px){
.insta-card{
  width: 100%;
  float: left;  
} 
}



}//instagram


.customer{
background-color: #0a0a0a;
padding: 50px;

.wrap{
  width: 100%;
  margin: auto;
  @include floatclear;  
}

.card-link{
  color: white;
  display: block;   
}

.card{
  padding: 20px;
  font-family: cardo;
  width: calc(100% / 3);
  float: left;
  border-left: 1px solid white;
  text-align: center;
  &:hover{
    .arrow{
      left: 55%;
    }
  }
}

.card:last-child{
  border-right: 1px solid white;
}

.customer-title{
  font-size: 25px;  
}

.customer-subtitle{
  margin: 10px 0;
}
.customer-icon{
  margin-bottom: 20px;
}

.link-area{
  position: relative;
}
.arrow{
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}

@media screen and (max-width: 950px){
    .media-width-change{
      border-left: 0;
      
      width: 100%;
      border-top: 1px solid white;
      &:last-child{
        border-right: 0;
        border-bottom: 1px solid white;
      }
     
    }
  }

}//customer


.footer{
  background-color: black;
  padding: 100px;
  .wrap{
    width: 70%;
    margin: auto;
    @include floatclear;
    color: white;
  }

  .opacity{
    opacity: .5;
  }
  .hover-underline{
    &:hover{
      text-decoration: underline;
    }
  }

  .intro-area{
  width: 40%;
  
  float: left;
  }
  .info-area{
  width: 40%;
  
  float: left;
  }
  .social-area{
    width: 20%;
    
    float: left;
  }

  .logo{
    width: 80%;
    transition: .3s;
    margin-bottom: 60px;
    &:hover{
      opacity: .5;
    }
  }

  .company-info{
    font-size: 18px;
    font-family: cardo;
    line-height: 25px;
    margin-bottom: 100px;
    
    letter-spacing: 1px;
  }

  .info-area{
    opacity: .7;
  }

  .contents-list{
    font-size: 20px;
    margin-bottom: 15px;
    
    @include floatclear;
    
  }
  .contents-head{
    display: block;
    float: left;
    width: 35%;
  }

  .contents{
    display: block;
    float: left;
    width: 65%;
    opacity: .5;
  }

  .social{
    opacity: .5;
    transition: .3s;
    padding: 10px;
    font-size: 20px;
    &:hover{
      opacity: 1;
      cursor: pointer;
    }
  }








}//footer

//media query

