p, a{
  font-size: 20px;
  border: 1px solid gray;
  padding: 20px;
  margin: 30px;
  text-align: justify;
  width: 300px;
}

div{
margin: 10px;
width:150px;
box-sizing: border-box;
}

#small{
border: 10px solid gray;
background-color:yellow;
}

#large{
border: 30px solid black;
}

