body{
  background-color: #f0f0f0;
}



div input{
  width: 100%;
  height: 30px;
  display: block;
  margin-top: 8px;
}

div{
  margin-top: 20px;
}

.signup_form{
  width: 510px;
  display: inline-block;
}

.signup_main{
  text-align: center;
}

.submit{
  background-color: red;
  font-size: 15px;
  color: white;
  height: 40px;
  width: 505px;
  margin-top: 20px;
  
}

span{
  color: orange;
  font-weight: bolder;
}
.form{
  text-align: left;
}

p>a{
  color: red;
  text-decoration: none;
}

.req{
  width: 100%;
  text-align: right;
}

.signup_info{
  text-align: left;
}
