header {
  height: 100px;
  background-color: black;
}

header .header-container {
  width: 90%;
  margin: auto;
  height: 100%;
}

header .header-container:after {
  content: '';
  display: block;
  clear: both;
}

header .title {
  color: #e3464a;
  font-family: dancing script;
  font-size: 30px;
  float: left;
  margin: 30px;
}

header nav {
  width: 25%;
  color: white;
  float: right;
  margin: 35px 20px;
}

header nav:after {
  content: '';
  display: block;
  clear: both;
}

header nav span {
  float: left;
  margin: 0px 25px;
  font-size: 20px;
  font-family: cardo;
}

.section1 {
  background-image: url(bg.jpg);
  background-position: 0 30%;
  height: 750px;
  position: relative;
}

.section1 .container {
  width: 38%;
  height: 30%;
  position: absolute;
  left: 70%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section1 .title {
  color: white;
  font-size: 50px;
  font-family: courgette;
}

.section1 .button {
  margin-top: 50px;
  text-align: center;
}

.section1 .btn {
  background: transparent;
  color: white;
  padding: 15px 35px;
  font-family: roboto;
}

.section2 {
  height: 600px;
  position: relative;
}

.section2 .container {
  width: 70%;
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section2 .title {
  color: #e3464a;
  font-family: cardo;
  font-size: 40px;
  padding: 30px 0px;
}

.section2 .subtitle {
  font-family: amiri;
  padding: 50px 0px;
  line-height: 30px;
}

.section2 .button {
  padding: 30px 0px;
}

.section2 .btn {
  border: 3px solid #e3464a;
  color: #e3464a;
  padding: 15px 15px;
  background: transparent;
}

.section3 {
  background-color: #f3f3f3;
  min-height: 600px;
  position: relative;
}

.section3 .container {
  width: 1200px;
  min-height: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section3 .container:after {
  content: '';
  display: block;
  clear: both;
}

.section3 .contentbox {
  width: 42%;
  height: 100%;
  float: left;
}

.section3 .contentbox:last-child {
  float: right;
}

.section3 .title {
  color: #e3464a;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: aleo;
}

.section3 .img {
  width: 100%;
  height: 50%;
}

.section3 .image {
  width: 100%;
  height: 100%;
}

.section3 .des {
  letter-spacing: 1px;
  font-size: 16px;
  margin: 20px 0px;
  letter-spacing: 4px;
  font-family: cardo;
}

.section4 {
  background-color: #ffffff;
  position: relative;
  height: 600px;
  font-family: amiri;
}

.section4 .container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1200px;
}

.section4 .container:after {
  content: '';
  display: block;
  clear: both;
}

.section4 .contentbox {
  width: 30%;
  height: 100%;
  float: left;
  margin-right: 40px;
}

.section4 .contentbox:last-child {
  margin-right: 0;
}

.section4 .icon {
  color: rgba(128, 128, 128, 0.9);
  font-size: 30px;
}

.section4 .title {
  color: #e3464a;
  font-size: 35px;
  margin: 20px 0px;
}

.section4 .subtitle {
  font-size: 25px;
  color: rgba(128, 128, 128, 0.8);
  line-height: 20px;
}

.section4 .btn {
  margin: 30px 0px;
  border: 1px solid #e3464a;
  color: #e3464a;
  background: transparent;
  padding: 10px 25px;
}

.section5 {
  background: RGB(229, 71, 75);
  min-height: 700px;
  position: relative;
  font-family: lato;
}

.section5 .container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
}

.section5 .container:after {
  content: '';
  display: block;
  clear: both;
}

.section5 .title {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  width: 100%;
  float: left;
}

.section5 .name {
  width: 48%;
  float: left;
}

.section5 .email {
  width: 48%;
  float: right;
}

.section5 .message {
  width: 100%;
  float: left;
  height: 20%;
}

.section5 .button {
  width: 100%;
  float: left;
}

.section5 .copyright {
  float: left;
  color: rgba(255, 255, 255, 0.6);
}

.section5 input {
  background: transparent;
  border: 1px solid white;
  color: white;
  height: 40px;
  padding: 10px;
  width: 100%;
}

.section5 .message .form {
  height: 100%;
}

.section5 .form[type="text"] {
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.section5 input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}

.section5 input:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

.section5 input::-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

.section5 input::placeholder {
  color: white;
  opacity: 0.5;
}

.section5 .btn {
  width: 17%;
}

.section5 div {
  margin: 20px 0px;
}
/*# sourceMappingURL=style.css.map */