.container{
  background-color: powderblue;
  display:flex;
  flex-direction: row;
  height: 200px;
}

.item{
  background-color: tomato;
  color: white;
  border: 1px solid white;
  flex-grow: 1;

}

.item:nth-child(1){
  flex-basis: 300px;
  flex-shrink: 1;
}

.item:nth-child(2){
  flex-basis: 300px;
  flex-shrink: 10;
}

