body{
  width: 500px;
  height: 300px;
  border-radius: 
}

header{
  text-align: center;
  background-color: #ef4627;
  border-radius: 5px;
}
h2{
  margin: 0;
}
.form{
  background-color: #f7f7f7;
  border-radius: 25px;
  height: 100%;
}

.form *{
  margin-bottom: 11px;
}

.submit input{
text-align: center;
  

}

div p{
  text-align: right;
}