@mixin floatclear{
  &:after{
  content:'';
  display:block;
  clear:both;
}
}

header{
  width: 100%;
  position:fixed;  
  height: 40px;
  background-color: #0b1331;
  color: white;
  line-height: 40px;
  @include floatclear;
  padding: 0 15px;
  z-index: 5;
  opacity: 0.7;  
}

.menu{
  float: right;
}
// header

.section1{
  min-height: 937px;
  // border: 1px solid gray;
  position: relative;
  background-color: #0b1331;
  z-index: 1;
  
}

.section1-bg{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  animation-name: section1-bg-fadein;
  animation-duration: 5s;
  animation-iteration-count: 1;
  filter: grayscale(1);  


}

.section1-container{
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation-name: section1-container-fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
  font-family: Courgette;  


}

.section1-title{
  font-size: 70px;
  margin: 30px;
  transition: .5s;
}

.section1-subtitle{
  width: 70%;
  margin: 20px auto;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 2px;
  font-weight: bold;
}

.section1-btn{
  color: white;
  padding: 10px 20px;
  background: transparent;
  border: 1px solid rgba(128, 128, 128, 0.6);
}

@keyframes section1-bg-fadein{
  0%{
    opacity: 0;
  }
50%{
  opacity: 0;
}
100%{
  opacity: 1;
  
}
}

@keyframes section1-container-fadein{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}

//section1 end



//section 2

.section2{
  height: 950px;
  // border: 1px solid gray;
  background-color: #142936;
  padding-top: 20px;
  position: relative;


.title{
  font-family: courgette;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin: 40px;
  
}

.subtitle{
  font-family: Cardo;
  font-size: 20px;
  color: white;
  opacity: 0.7;
  text-align: center;
}

.content-container{
  position: absolute;
  width: 85%;
  height: 70%;

  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  // border: 1px solid gray;

}

.content1, .content2{
  width: 47%;
  height: 100%;
  // border: 1px solid gray; 
  
  .content-image{
    width: 100%;
    height: 80%;
    overflow: hidden;
    // border: 1px solid gray;
  }

  

  .content-img{
    height: 535px;
    width: 100%;
    transition: .5s;
    
  }

  .content-img:hover{
    transform: scale(1.1);
  }

  .content-des{
    height: 132.19px;
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    text-align: center;
    font-family: dancing script;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 132.19px;
    
  }
  
}
.content1{
  float: left;  
}

.content2{
  float: right;
}




@include floatclear;
}//section2