.section_part{
  margin-top: 20px;
  border: 1px solid red;
}

.content_container{

  width: 800px;
  margin: auto;
  border: 1px solid blue;
  overflow: hidden;

}

.content_box{
  width: calc(100% / 3);
  border: 1px solid purple;
  float: left;
  text-align: center;
}

.content{
  display: inline-block;
  border: 1px solid orange;
  height: 100px;
}

@media screen and (max-width:1200px){
.content_container{
  width: 100%
}
.content_box{
  width: 100%;
}
}

오호
이게 제가 원했던겁니다